<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="../img/logo.jpg">
    <title>World Pizza</title>

</head>
<body>
     <h1 class="titulos">Titulo</h1>
     <h2 class="subtitulos">Subtitulo</h2>
     <button class="btn">Boton</button>
    



    <script src="../javascript/App.js"></script>
</body>
</html>